.table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 30px;  
}

td{
    border: 1px black solid;
    text-align: center;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    font-size: 25px;
    padding: 8px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.empty{
    border: none;
    width: auto;
    height: 55px;
}

.gap-row{
    border: none;
    width: auto;
    height: 20px;
}

.element-symbol {
    font-size: 1em; 
    display: block;
    font-weight: bolder;
}

.element-name {
    font-size: 0.4em; 
    display: block;
}

.atomic-number {
    position: absolute; 
    top: 2px; 
    left: 2px; 
    font-size: 0.3em;
    font-weight: bold;
}


.tufts{
    background-color: #3E8EDE;  
}

.nonphoto{
    background-color: #A4DDED;
}

.yellow{
    background-color: #FFFF00;
}

.candy{
    background-color: #FF0800;
}

.pumpkin{
    background-color: #FF7518;
}

.jade{
    background-color: #00A86B;
}

.pgreen{
    background-color: #00A693;
}

.spring{
    background-color: #00FA9A;
}

.lyft{
    background-color: #FF00BF;
}

.iris{
    background-color: #5D3FD3;
}

.bpurple{
    background-color: #9d50e6;
}